{% extends 'base/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index of site</title>
</head>

<body>
    {% block content %}


    <!-- slider -->
    <div class="slider">
        <div class="slide active">
            <img class="slider-image" src="{% static 'images/slide1.webp' %}"
                data-mobile-src="https://cdn.mobit.ir/get/mobit/landing/29/6683f60d187b1.webp?inline=1">
        </div>
        <div class="slide">
            <img class="slider-image" src="{% static 'images/slide2.webp' %}"
                data-mobile-src="https://cdn.mobit.ir/get/mobit/landing/29/667ff520a6071.webp?inline=1">
        </div>
        <div class="slide">
            <img class="slider-image" src="{% static 'images/slide3.webp' %}"
                data-mobile-src="https://cdn.mobit.ir/get/mobit/landing/29/6613c03155269.webp?inline=1">
        </div>
        <div class="slide">
            <img class="slider-image" src="{% static 'images/slide4.webp' %}"
                data-mobile-src="https://cdn.mobit.ir/get/mobit/landing/29/6613e0f386050.webp?inline=1">
        </div>
        <div class="prev rotate"><img src="{% static 'icons/rigth.png' %}"></div>
        <div class="next"><img src="{% static 'icons/rigth.png' %}"></div>
        <div class="dots">
            <span class="dot active" data-slide="0"></span>
            <span class="dot" data-slide="1"></span>
            <span class="dot" data-slide="2"></span>
            <span class="dot" data-slide="3"></span>
        </div>
    </div>


    <!-- category bar -->
    <div class="flex">
        <div class="slider-container">
            <button class="slider-btn left-btn">&lt;</button>
            <div class="category-bar">
                <div class="c-item">
                    <img src="{% static 'images/item1.jpg' %}">
                    <div class="title">تی شرت</div>
                    <div class="hidden-text">122 items</div>
                </div>
                <div class="c-item">
                    <img src="{% static 'images/item2.jpg' %}">
                    <div class="title">پیراهن</div>
                    <div class="hidden-text">201 items</div>
                </div>
                <div class="c-item">
                    <img src="{% static 'images/item3.jpg' %}">
                    <div class="title">شلوار و سرهمی</div>
                    <div class="hidden-text">58 items</div>
                </div>
                <div class="c-item">
                    <img src="{% static 'images/item4.jpg' %}">
                    <div class="title">شلوار جین</div>
                    <div class="hidden-text">12 items</div>
                </div>
                <div class="c-item">
                    <img src="{% static 'images/item5.jpg' %}">
                    <div class="title">شلوار</div>
                    <div class="hidden-text">185 items</div>
                </div>
                <div class="c-item">
                    <img src="{% static 'images/item6.jpg' %}">
                    <div class="title">سویشرت</div>
                    <div class="hidden-text">7 items</div>
                </div>
                <div class="c-item">
                    <img src="{% static 'images/item7.jpg' %}">
                    <div class="title">تاپ</div>
                    <div class="hidden-text">19 items</div>
                </div>
                <div class="c-item">
                    <img src="{% static 'images/item8.jpg' %}">
                    <div class="title">ژاکت و پلیور</div>
                    <div class="hidden-text">5 items</div>
                </div>
                <div class="c-item">
                    <img class="category-image" src="{% static 'images/item9.png' %}">
                    <div class="title">ساعت مچی</div>
                    <div class="hidden-text">55 items</div>
                </div>
                <div class="c-item">
                    <img class="category-image" src="{% static 'images/item10.png' %}">
                    <div class="title">لبتاپ</div>
                    <div class="hidden-text">0 items</div>
                </div>
            </div>
            <button class="slider-btn right-btn">&gt;</button>
        </div>
    </div>

    <!-- products bar -->
    <div class="n-text">
        <p>محصولات شگفت انگیز</p>
    </div>
    <div class="m-p">
        <div class="products-bar" id="products-slider">
            <div class="product-container">

                {% for item in off_products %}
                <a href="{% url 'pages_app:products' item.id %}">
                    <div class="product-items">
                        <div class="image-div"><img class="hover" src="{{item.image.url}}"></div>
                        <p>{{item.name}}</p>
                        <div class="price">{{item.off_price}}<div>تومان</div>
                            <div><strike style="color: brown;">{{item.price}}</strike></div>
                        </div>
                    </div>
                </a>
                {% endfor %}

            </div>
            <div class="flex">
                <button class="control-btn prev-btn" onclick="moveSlider(-1)">
                    <div class="">&gt;</div>
                </button>
            </div>
            <div class="flex">
                <button class="control-btn next-btn" onclick="moveSlider(1)">&lt;</button>
            </div>
        </div>
    </div>


    <!-- new products -->
    <div class="n-text">
        <p>محصولات جدید</p>
    </div>
    <div class="flex">
        <div class="new-products">
            {% for item in new_products %}
            <div class="n-item">
                <img class="n-image" src="{{item.image.url}}">
                <div class="coulmn">
                    <p>{{item.name}}</p>
                    <div class="n-price">{{item.price}}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div style="height: 120vh; background-color: rgb(3, 152, 194);"></div>



    {% endblock %}



    <script src="{% static 'js/index.js' %}"></script>
</body>

</html>