* {
    font-family: Shabnam;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
}


body::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(67, 64, 64, 0.558);
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.m-m.efect {
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 999;
    transition: all 200ms;
}

.m-header.scroled {
    position: fixed;
    top: 10px;
    width: 90%;
    border: 0.5px solid #ccc;
    border-radius: 12px;
}

.header {
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 130px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 0.5px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    gap: 5px;
}

.vertical-line {
    border-left: 1px solid #ccc;
    height: 22px;
    margin-left: 10px;
    margin-right: 10px;
}

.hidden-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 0;
    cursor: pointer;
}

.cart-icon {
    width: 30px;
    height: 30px;
}

.i-div {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1%;
    position: relative;
}

.s-input {
    width: 40%;
    height: 40px;
    border-radius: 9px;
    outline: 0;
    border: 0;
    padding-inline-start: 15px;
    background-color: rgb(240, 240, 241);
}


/* slider */
.slider {
    width: 100%;
    position: relative;
}

.slider img {
    width: 100%;
    height: auto;
}

.slide {
    display: none;
}

.active {
    display: block;
}

.prev , .next {
    font-size: 40px;
    text-decoration: none;
    color: #000;
    position: absolute;
    top: 45%;
    font-weight: 600 ;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.dots {
    position: absolute;
    text-align: center;
    bottom: 3%;
    left: 50%;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #717171;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #fff;
}


/* products bar */
.m-p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-bar {
    width: 85%;
    height: 325px;
    background-color: rgb(221, 49, 78);
    border-radius: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 9px;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.product-container {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
}

.product-items {
    width: 180px;
    height: 280px;
    background-color: #fff;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 9px;
    border-radius: 9px;
    white-space: nowrap;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.image-div img {
    width: 100%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.product-items p {
    direction: rtl;
    color: #bbb;
    font-size: 14px;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 13px;
}

.price strike {
    color: red;
}

.control-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.prev-btn {
    left: 8px;
    background-color: aqua;
}

.next-btn {
    right: 8px;
    background-color: aqua;
}
