* {
    font-family: Shabnam;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
}


body::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(67, 64, 64, 0.558);
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.m-m.efect {
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 999;
    transition: all 200ms;
}

.m-header.scroled {
    position: fixed;
    top: 0;
    border: 0.5px solid #ccc;
}

.header {
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 130px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 0.5px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    gap: 5px;
}

.vertical-line {
    border-left: 1px solid #ccc;
    height: 22px;
    margin-left: 10px;
    margin-right: 10px;
}

.hidden-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 0;
    cursor: pointer;
}

.cart-icon {
    width: 30px;
    height: 30px;
}

.i-div {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1%;
    position: relative;
}

.s-input {
    width: 40%;
    height: 40px;
    border-radius: 9px;
    outline: 0;
    border: 0;
    padding-inline-start: 15px;
    background-color: rgb(240, 240, 241);
}


/* slider */
.slider {
    width: 100%;
    position: relative;
}

.slider img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.slide {
    display: none;
}

.active {
    display: block;
}

.prev , .next {
    font-size: 40px;
    text-decoration: none;
    color: #000;
    position: absolute;
    top: 45%;
    font-weight: 600 ;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.dots {
    position: absolute;
    text-align: center;
    bottom: 3%;
    left: 50%;
}

.dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    background-color: #717171;
    border-radius: 50%;
    cursor: pointer;
    transition: all 150ms;
}

.dot.active {
    background-color: #fff;
    width: 15px;
    border-radius: 6px;
}

/* category bar */
.slider-container {
    position: relative;
    width: 85%;
    overflow: hidden;
    margin: 20px 0;
}

.category-bar {
    display: flex;
    transition: transform 400ms ease;
    gap: 15px;
}

.c-item {
    width: 160px;
    flex: 0 0 auto;
    height: auto;
    padding: 10px 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 5px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.c-item .hidden-text {
    position: absolute;
    bottom: -100%; 
    left: 0;
    right: 0;
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    transition: all 400ms;
}

.c-item:hover .hidden-text {
    bottom: 0; 
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
}

.left-btn {
    left: 10px;
}

.right-btn {
    right: 10px;
}

.category-image {
    width: 100px;
    height: 100px;
}

/* products bar */
.m-p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-bar {
    width: 85%;
    height: 325px;
    background-color: rgb(221, 49, 78);
    border-radius: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 9px;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.product-container {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
}

.product-items {
    width: 180px;
    height: 280px;
    background-color: #fff;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 9px;
    border-radius: 9px;
    white-space: nowrap;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.image-div img {
    width: 100%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.product-items p {
    direction: rtl;
    color: #bbb;
    font-size: 14px;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 13px;
}

.price strike {
    color: red;
}

.control-btn {
    position: absolute;
    bottom: 2%;
    transform: translateY(-50%);
    padding: 5px 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-size: 11px;
    cursor: pointer;
    border-radius: 5px;
}

.prev-btn {
    left: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 6px;
}

.next-btn {
    right: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 6px;
}

.rotate {
    transform: rotate(180deg);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* responsive */
@media (max-width: 596px) {
    .btn {
        display: none;
    }
    .hidden-btn{
        display: none;
    }
}


/* new products */
.n-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    margin-bottom: 0;
}

.n-text p {
    cursor: pointer;
    font-size: 18px;
}

.new-products {
    width: 85%;
    margin: 10px 0;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.n-item {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: start;
    direction: rtl;
    gap: 10px;
    background-color: #fff;
    border-radius: 9px;
    padding: 5px;
    cursor: pointer;
    transition: all 300ms;
    border: 1px solid #ccc;

}

.n-item:hover {
    background-color: rgb(198, 0, 86);
    color: #fff;
}

.n-item:hover .n-image {
    border-radius: 9px;
}


.coulmn {
    display: flex;
    flex-direction: column;
    gap: 5px;
}